{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'payment.admin.refund.transaction.title'|trans %}
{% block page_title 'payment.admin.refund.transaction.title'|trans %}

{% block admin_content %}
    
    {% embed 'NantarenaPaymentBundle:Form:_refund.html.twig' with {
        'submit': 'payment.admin.refund.modify.submit'|trans
    } %}{% endembed %}


    <p class="text-center">
        <a href="{{ path('nantarena_admin_payment_payment_details', {'id': id_payment}) }}">{{ 'payment.admin.payment.details.return'|trans }}</a>
    </p>
{% endblock %}