{% extends 'NantarenaEventBundle::layout.html.twig' %}

{% block title 'event.cancel.title'|trans %}
{% block page_title 'event.cancel.page_title'|trans({'%name%': event.name}) %}

{% block event_content %}
    {% embed 'NantarenaSiteBundle::_deleteConfirm.html.twig' %}

        {% block info %}
            {{ 'event.cancel.info'|trans }}
        {% endblock %}

        {% block submit %}
            {{ form_row(form.submit, {'label': 'event.cancel.submit'|trans, 'attr': {'class':'btn-danger'}}) }}
        {% endblock %}

        {% block back %}
            <a href="{{ path('nantarena_event_show', {'slug' : event.slug}) }}">
                {{ 'event.cancel.back'|trans }}
            </a>
        {% endblock %}

    {% endembed %}
{% endblock %}
